doctype html
html
  head
    meta(charset='utf-8')
    title Demo
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='demo.css', media='screen')
  body
    h1= url
    h2 There's no demo here yet
    form(method='post')
      input(type='submit', value="start demo")
