doctype html
html
  head
    meta(charset='utf-8')
    title Demo
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='demo.css', media='screen')
  body
    h1 Pusher Demo

    if user
      hr
      p Sup, #{user.displayName} (#[a(href='/logout') logout])
