/*
blue:  #549eff
dark:  #2b303b
light: #f4f7f9

*/

body {
  font-family: monospace;
  color: #2b303b;
  font-size: 125%;
  margin: 3em;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: #549eff
}

p {
  max-width: 30em;
}

h1 a {
  text-decoration: none
}

label {
  display: block;
  margin-bottom: 1em;
}

.btn {
  font-family: inherit;
  font-size: 1em;
  border: none;
  background: #549eff;
  color: #fff;
  cursor: pointer;
  transition: .1s
}
.btn:hover {
  background: #2b303b
}

hr {
  border: none;
  height: 1px;
  background: #ccc
}

.error {
  background: #fcc;
  padding: .5em;
  border-left: 3px solid red
}

code {
  display: block;
  padding: .5em;
  margin: .25em;
  background: #2b303b;
  color: #f4f7f9;
  float: left;
  clear:left
}
